extends layout

block content
  h1= title
  p Welcome to #{title}
  ol
    li CSFV Site Map Generator
      a(href="http://www.topcoder.com/challenge-details/30046435/?type=develop")  go to challenge
    li Review others peoples submissions if possible to get a feel for what is required


